<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target xsi:type="Console" name="ConsoleTarget" layout="${MicrosoftConsoleLayout}" />

    <target name="SqlServerTarget"
        xsi:type="Database"
        connectionString="${environment:NLOG_SQL_CONNECTION}"
        commandType="StoredProcedure"
        commandText="[dbo].[proc_insert_lone_nlog_entry]"
        >
      <parameter name="@level"          layout="${level}" />
      <parameter name="@custom_message" layout="${message}" />
      <parameter name="@ex_message"     layout="${exception:format=message}" />
      <parameter name="@stack_trace"    layout="${exception:format=stackTrace}" />
      <parameter name="@exception_type" layout="${exception:format=type}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@url"            layout="${aspnet-request-url}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="ConsoleTarget, SqlServerTarget" />
  </rules>
</nlog>