@using letter_of_no_evidence.web.Helper
@{
    ViewData["Title"] = "Letter of no evidence - The National Archives";
}
@await Html.PartialAsync("Partials/_Breadcrumbs")
<h1 class="display-4">
    Request confirmation of no evidence of British naturalisation
</h1>
<div id="home" class="text-center">
    <div class="container content-wrapper">
        <div class="heading text-left standfirst">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Use this service if you:<br>
                        <ul>
                            <li>
                                Want us to confirm that we can find no evidence that you or someone else acquired British citizenship through naturalisation up to October 1986
                            </li>
                            <li>
                                Want a signed letter from us confirming this
                            </li>
                        </ul>
                    </p>
                    <p style="text-align:left">
                        We can search the British citizenship records up to October 1986 held by The
                        National Archives. If the subject of your request did not obtain British citizenship
                        there will be no record and we will confirm this by issuing a signed letter.
                    </p>
                    <p style="text-align:left">
                        If you require this letter for legal purposes, you will need to get this ‘legalised’ by
                        submitting it to the <a href="https://www.gov.uk/get-document-legalised">Foreign, Commonwealth and Development Office Legalisation Service.</a>
                    </p>
                    <p style="text-align:left">
                        <strong>
                            Do not use this form for someone born after 1968 or if you want to check
                            whether someone did or did not obtain British citizenship from October 1986
                            onwards – you must apply to <a href="https://www.gov.uk/government/publications/apply-for-proof-that-you-do-not-have-british-citizenship-form-nq">UK Visas and Immigration.</a>
                        </strong>
                    </p>
                    <p style="text-align:left">
                        If you meant to request a search for a certificate of British citizenship, <a href="https://www.nationalarchives.gov.uk/contact-us/request-a-search-for-a-certificate-of-british-citizenship-1949-1986/">you need to use our other service.</a>
                    </p>
                </div>
            </div>
        </div>
        <section class="prompt-white">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="display-4">
                        How it works
                    </h2>
                    <p style="text-align:left">
                        Click on ‘Start now’ below to complete the request form. After submitting the form you will receive an email confirmation that we have received it.
                    </p>
                    <p style="text-align:left">
                        Following receipt of your request, we will carry out a search of our records based
                        on the information submitted. If we find no evidence of British naturalisation, we
                        will send you a letter signed in wet ink confirming no evidence has been
                        found. The letter will be sent by tracked Royal Mail. There is a charge of <strong>@CostExtension.LoneCost() GBP</strong> for this service, covering the search and the letter.
                    </p>
                    <p style="text-align:left">
                        This letter is valid for <strong>1 year</strong> from the date of issue.
                    </p>
                    <p style="text-align:left">
                        If you need more than one copy of the letter you will need to fill in this form again.
                    </p>
                    <p style="text-align:left">
                        We will conduct the search and confirm the outcome within <strong>16 working days of payment.</strong>
                    </p>
                    <p style="text-align:left">
                        Please note that we do not issue refunds if we do find evidence or if you provide incorrect information.
                    </p>
                </div>
            </div>
        </section>
        <a class="button primary" href="@Url.Action("SubjectDetails", "Request")">Start now</a>
    </div>
</div>