<div class="tna-breadcrumb">
    <ul>
        <li><a href="/">Home</a> &gt;</li>
        @if (ViewData["Title"].ToString() == "Request a letter of no evidence - The National Archives")
        {
            <li>Request a letter of no evidence</li>
        }
        else
        {
            <li><a href="/letter-of-no-evidence">Request a letter of no evidence</a></li>
        }
    </ul>
</div>