<div class="notification-banner no-print">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="notice">
                    <strong class="title">ESSENTIAL MAINTENANCE</strong><br />
                    <p>On Tuesday 21 November, GOV.UK Pay (our payment provider) will be closed for essential maintenance between 04:00 and 08:00 GMT. Please do not submit any requests during these times.</p>
                </div>
            </div>
        </div>
    </div>
</div>